<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<a href="/">Home Page</a>
		<form name="add-joke" method="POST" action="storejoke">
			<input type="text" name="joke" />
			<button>Add Joke</button>
		</form>
	</body>
</html>
