<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Hello <%= userName %>!</h1>
		<p>Welcome to <%= title %></p>
		<a href="joke">Get random joke</a>
		<br />
		<a href="jokes">Get all jokes</a>
		<br />
		<a href="addjoke">Add a joke</a>
	</body>
</html>
