<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href='/'>Home Page</a>
    <ul>
        <% for(let i = 0; i < jokes.length; i++){ %>
            <li><%= jokes[i] %></li>
        <% } %>
    </ul>
  </body>
</html>
